*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
input,
dl,
dd {
  margin: 0;
}
