.header-top {
    margin: 0px 0px 72px 0px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
  }
  
  .header-contacts {
    display: flex;
    gap: 33px;
  }
  
  .header-contacts a {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #151515;
  }
  
  .header-contacts a:hover {
    text-decoration: underline;
  }

  .header-contacts a:first-child {
    color: #6A983C;
  }

  .header-links {
    display: flex;
    gap: 38px;
  }

  .header-links a {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #6A983C;
}

.header-links a:hover {
  text-decoration: underline;
}
  
  .header-middle {
    display: flex;
    align-items:center;
    justify-content: space-between;
  }

  .header-icons {
    display: flex;
    gap: 41px;
    cursor: pointer;
  }

  .shopping-card-wrapper {
    position: relative;
  }

  .icon-number {
    position: absolute;
    position: absolute;
    left: -10px;
    bottom: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #E6704B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
  }

  .search-form-categories {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .search-form{
    justify-content: space-around;
    display: flex;
    width: 500px;
    padding: 10px;
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
  }

  .search-form-input {
    width: 262px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    border-left: 1px solid #D1D1D1;
    padding: 0px 25px;
    outline: none;
  }
  
  .search-form-input::placeholder {
    color:#A9A9A9;
  }

  .search-form-submit{
    border: none;
    background-color: #F9F9F9;
    cursor: pointer;
  }

  .header-icon {
    font-size: 20px;
  }

  .header-bottom {
    margin: 50px -45px 16px -45px;
    padding: 0 45px;
    background: #F9F9F9;
  }

  .header-category-lists {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    display: flex;
    gap: 55px;
}

  .header-category-element {
      position: relative;
  }

  .header-category-element a {
    padding: 0px 6px 0px 0px ;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #151515;
  }

  .header-category-element a:hover {
   color: #6A983C;;
  }
 